/* Write your CSS here! */

/* elements */
body{
background-color: blanchedalmond;
/* google fonts */
font-size: 11pt;
font-weight: 400;
color: #333;
width: 100vw;
height: 100vh;
margin: 0px;
padding: 0px;
overflow-x: hidden;
font-family: 'IBM Plex Mono', monospace;
}

header {
background-color: rgb(51, 134, 134);
color:rgb(206, 94, 141);
height: auto;
padding: 30px;
margin: 0px;
font-family: 'IBM Plex Mono', monospace;
}


main {
width: 100;
padding: 30px 100px;
box-sizing: "border-box";
font-family: 'IBM Plex Mono', monospace;
}

footer {
background-color: rgb(206, 94, 141);
color:rgb(51, 134, 134);
text-align: center;
padding: 20px;
margin: 0px;
font-family: 'IBM Plex Mono', monospace;
}

h1{
    font-size:3.5rem;
    font-weight:10px;
    margin:0px;
    font-family: 'Unica One', cursive;
}

h2{
    font-size:2rem;
    font-weight:10px;
    margin:0px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
}

h3{
    font-size:1.5rem;
    font-weight:10px;
    margin:0px;
    font-family: 'IBM Plex Mono', monospace;
}

p{
    text-align: justify;
}

img{
    width: 250px;
    margin: 10px 0px;
}

/* unvisited */
a:link{
color: palevioletred;
}

a:visited{
color:rgb(96, 29, 43);
}

a:hover{
color:rgb(162, 93, 23);
}

a:active{
color:rgb(6, 72, 78);
}


/* ids */
#page-title{
    color:rgb(197, 115, 149);
    text-align: center;
}

#tagline{
    color: rgb(235, 166, 198);
    text-align: center;
    margin: 0px;
}

#intro{
    font-style: italic;
    margin: 20px;
}

/* classes */
.right{
    float: right;
    margin-left: 20px;
}

