/* Write your CSS here! */

/* elements */
body{
background-color: blanchedalmond;
/* google fonts */
font-size: 11pt;
font-weight: 400;
color: #333;
width: 100vw;
height: 100vh;
margin: 0px;
padding: 0px;
overflow-x: hidden;


}

header {
background-color: rgb(51, 134, 134);
height: auto;
padding: 30px;
margin: 0px;

}


main {
width: 100;
padding: 30px 100px;
box-sizing: "border-box";
}
/* ids */



/* classes */